<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>995715164087-0mqjnalmejmqrbc5l9n5qr9aulfghkhq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.995715164087-0mqjnalmejmqrbc5l9n5qr9aulfghkhq</string>
	<key>API_KEY</key>
	<string>AIzaSyDt0kSAEM_1reoxYMijggIbJWoc2AtpyhM</string>
	<key>GCM_SENDER_ID</key>
	<string>995715164087</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.abdisheikh.duareminder</string>
	<key>PROJECT_ID</key>
	<string>duareminder-9c670</string>
	<key>STORAGE_BUCKET</key>
	<string>duareminder-9c670.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:995715164087:ios:2a58cbb2a0424455866a32</string>
</dict>
</plist>